* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    padding: 15px 30px;
    font-family: sans-serif;
}

h1, h2 {
    margin-bottom: 1em;
}

a[href] {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin-bottom: 1em;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}

table th,
table td {
    border: 1px solid grey;
    padding: 5px 10px;
    text-align: center;
}
